.song-item {
    // .button-bar {
    //     height: 40px;
    //     border-bottom: 0.1px solid #1E484F;
    //     width: 100%;
    // }
    // margin-top: 20px;
    
        .item-li {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            height: 64px;
            font-size: 14px;    
            .rank {
                flex: 0 0 25px;
                width: 25px;
                margin-right: 30px;
                text-align: center;
                .icon {
                    display: inline-block;
                    width: 25px;
                    height: 24px;
                    background-size: 25px 24px;
                    &.icon0 {
                        background-image: url(./first.png);
                    }
                    &.icon1 {
                        background-image: url(./second.png);
                    }
                    &.icon2 {
                        background-image: url(./third.png);
                    }
                }
                .text {
                    color: #ffcd32;
                    font-size: 18px;
                }
            }
            .content {
                flex: 1;
                line-height: 20px;
                overflow: hidden;
                .songname {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    color: #fff;
                    
                    // .tags {
                    //     font-size: 8px;
                    //     color: #31c27c;
                    //     border: 1px solid #31c27c;
                    //     height: 14px;
                    //     width: 23px;
                    //     line-height: 14px;
                    //     border-radius: 2px;
                    // }
                }
                .song-info {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin-top: 4px;
                    color: hsla(0,0%,100%,.3);
                }
            }
            .right {
                color: #C8C8C8 ;
                // margin-tp: -15px;
                position: relative;
                top: -10px;
                right: -12px;
                .am-icon-md {
                    width: 15px;
                    height: 15px;
                }
            }
        }
}