.song-list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: blanchedalmond ;
    background-color: #2A4F56 ;
    z-index: 100;
    height: auto;

    .hot-songs {
        .hotlist {
            .list-title {
                height: 45px;
                line-height: 45px;
                text-align: center;
                font-size: 16px;
                color: #ffcd32;
                font-weight: 400;
                display: block;
                margin: 0;
                padding: 0;
            }
            .icon-more {
                float: right;
                position: relative;
                top: -29px;
                right: 12px;
                font-size: 16px;
            }
            .row-li {
                display: flex;
                box-sizing: border-box;
                align-items: center;
                padding: 0 20px 5px;
        
                .music-img {
                    flex: 0 0 60px;
                    width: 60px;
                    padding-right: 20px;
        
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;;
                    flex: 1;
                    line-height: 20px;
                    overflow: hidden;
                    font-size: 14px;
                    padding-left: 20px;
        
                    .title-name {
                        margin-bottom: 10px;
                        margin-top: 10px;
                        color: #fff;
                    }
                    .music-info {
                        color: 	#888;
                    }
                }
            }
        }
    }
}