.search_main {

    .hot_search {
        background: #fff;
        padding: 15px 15px 10px 15px;

        .hot_title {
            color: rgba(0,0,0,.6);
            margin-bottom: 8px;
            display: block;
            font-size: 15px;
            font-weight: bold;
        }
        .result_list {
            font-size: 0;

            .tags {
                color: #fc4524;
                display: inline-block;
                font-size: 14px;
                padding: 0 10px;
                height: 30px;
                line-height: 30px;
                border: 1px solid #fc4524;
                border-radius: 99px;
                word-break: keep-all;
                margin-bottom: 10px;
                margin-right: 14px;
            }
            .itemlist {
                display: inline-block;
                font-size: 14px;
                padding: 0 10px;
                height: 30px;
                line-height: 30px;
                color: #000;
                border: 1px solid rgba(0,0,0,.6);
                border-radius: 99px;
                word-break: keep-all;
                margin-bottom: 10px;
                margin-right: 14px;
            }
        }
    }
}