.search_main {
    width: 100%;
    height: 100%;
    .am-notice-bar {
        position: relative;
        top: -81px;
        background-color: #31c27c;
    }
    .search-box {
        margin: 5px 15px 5px 15px;
        .search-bar {
            background-color: #2A4F56 !important;
            .am-search-input {
                background-color: #4A585F!important;
            }
        }
    }
    .search-m {
        position: fixed;
        top: 145px;
        bottom: 0;
        width: 100%;
        .search-center {
            position: relative;
            // top: 178px;
            // bottom: 0;
            width: 100%;
            .hot_search {
                padding: 0px 15px 0px 15px;
                .hot_title {
                    color: rgba(0,0,0,.6);
                    margin-bottom: 8px;
                    display: block;
                    font-size: 15px;
                    font-weight: bold;
                }
                .result_list {
                    font-size: 0;
                    display: flex;
                    padding-top: 9px;
                    flex-direction: row;
                    flex-wrap: wrap;
        
                    .tags {
                        background-color: #384850;
                        color: hsla(0,0%,100%,.3);
                        // padding-left: 15px;
                        // padding-right: 15px;
                        margin-left: 9px;
                        margin-bottom: 9px;
                    }
                }
            }
        }
        .search-history {
            position: relative;
            margin: 0 20px;
            .title {
                display: flex;
                align-items: center;
                height: 40px;
                font-size: 14px;
                color: hsla(0,0%,100%,.5);
                margin-bottom: -5px;
                .text {
                    flex: 1;
                }
                .delete-icon {
                    position: relative;
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
    }
    .results {
        position: absolute;
        left: 12px;
        right: 20px;
        top: 70px;
        bottom: 0;

        .no-result-wrapper {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
        }
    }
}